<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="SagoonTech_PriceDecimal::sagoontech_pricedecimal" title="Price Decimal Settings" translate="title" module="SagoonTech_PriceDecimal" sortOrder="10" parent="SagoonTech_PriceDecimal::base" action="adminhtml/system_config/edit/section/zeon_manufacturer" dependsOnModule="SagoonTech_PriceDecimal" resource="SagoonTech_PriceDecimal::sagoontech_pricedecimal" />
    </menu>
</config>
